<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- content -->
            <div class="title mobile-title-center">Контакты</div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="contacts__info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contacts__info-item">
                                    <figure><img src="img/email2.png" alt=""></figure>
                                    <section>
                                        <p>
                                            <strong>Электронный
                                                    адрес</strong>
                                            <a href="mailto:info@sloncredit.com.ua">info@sloncredit.com.ua</a>
                                        </p>
                                    </section>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contacts__info-item">
                                    <figure><img src="img/customer-service.png" alt=""></figure>
                                    <section>
                                        <p>
                                            <strong>Служба поддержки</strong>
                                            <a href="tel:0 800 33 03 83">0 800 33 03 83</a>
                                        </p>
                                        <p>Пн-пт: 9:00 - 20:00 <br>
                                                Сб-вс: 10:00 - 18:00</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contacts__info-item">
                                    <figure><img src="img/clock.png" alt=""></figure>
                                    <section>
                                        <p>
                                            <strong>Время работы компании
                                                </strong>
                                                Пн-пт: 9:00 - 18:00 <br>
                                                Обед с 13:00 до 14:00
                                                                                                    
                                        </p>
                                        <p>
                                            <strong>Выходные дни:                                                    </strong>
                                            Сб-Вс и государственные праздники
                                        </p>
                                    </section>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contacts__info-item">
                                    <figure><img src="img/pin.png" alt=""></figure>
                                    <section>
                                        <p>
                                            <strong>Местонахождение компании
                                                </strong>
                                                г. Киев, пр-т Победы, 90-А
                                                03062
                                        </p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__props">
                        <h2>Реквизиты</h2>
                        <div class="row">
                            <div class="col-md-4">
                                    <h6>Адреса для кореспонденції</h6>
                                    04107, м. Київ,
                                    вул. Багговутівська, 23,
                            </div>
                            <div class="col-md-4">
                                    <h6>ТОВ "ЛІНЕУРА УКРАЇНА",</h6>
                                    Код ЄДРПУ 42753492,
                                    р/р: 26506052600502
                            </div>
                            <div class="col-md-4">
                                    у ПАТ КБ
                                    "ПРИВАТБАНК",
                                    МФО 320649
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="contacts__map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.064962289929!2d30.39899761573165!3d50.45851497947644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc5c22be175f%3A0x54912cb19b147997!2z0L_RgNC-0YHQv9C10LrRgiDQn9C10YDQtdC80L7Qs9C4LCA5MCwg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1575552477187!5m2!1suk!2sua" width="490" height="490" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
</div>