<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- content -->
            <div class="faq">
                <div class="title mobile-title-center">Вопросы и ответы</div>
                <div class="row faq-tabs">
                    <div class="col-md-4">
                        <nav class="faq-links">
                            <ul>
                                <li><a href="#faq1" class="active">Проблемы в регистрации карты</a></li>

                                <li><a href="#faq2"> Документы, которые нужны для
                                        получения денег</a></li>
                                        
                                <li><a href="#faq3">Как получить?</a></li>
                                        
                                <li><a href="#faq4">Сколько по времени
                                        рассматривается заявка?</a></li>
                                        
                                <li><a href="#faq5">Как погасить?</a></li>
                                        
                                <li><a href="#faq6">График работы</a></li>
                                        
                                <li><a href="#faq7">    Что нужно для получения
                                            кредита онлайн?</a></li>
                                        
                                <li><a href="#faq8">Кто может оформить?</a></li>
                                        
                                <li><a href="#faq9">Зачем нужна регистрация и какие
                                        возможности предоставляет
                                        Личный кабинет?</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-8">
                        <div class="faq-content active" id="faq1">
                            <ol>
                                <li> Выберите сумму, срок кредита и нажмите <a href="#">Получить кредит</a></li>

                                <li>  Заполните необходимую информацию, ознакомьтесь с условиями получения кредита, пройдите
                                        процедуру проверки банковской карты.</li>
                                        
                                <li>  После позитивного решения о предоставлении кредита, получите СМС-сообщение с кодом для
                                подписания паспорта кредита и договора.</li>
                                
                                <li>  Получите деньги на банковскую карту.</li>
                            </ol>
                        </div>
                        <div class="faq-content" id="faq2">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorem fugit alias exercitationem quam excepturi debitis quasi, molestias doloremque facere necessitatibus sequi doloribus id. Asperiores explicabo dolor sequi ea praesentium.</p>
                        </div>
                        <div class="faq-content" id="faq3">
                            <p>3Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorem fugit alias exercitationem quam excepturi debitis quasi, molestias doloremque facere necessitatibus sequi doloribus id. Asperiores explicabo dolor sequi ea praesentium.</p>
                        </div>
                        <div class="faq-content" id="faq4">
                            <p>4Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorem fugit alias exercitationem quam excepturi debitis quasi, molestias doloremque facere necessitatibus sequi doloribus id. Asperiores explicabo dolor sequi ea praesentium.</p>
                        </div>
                        <div class="faq-content" id="faq5">
                            <p>5Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorem fugit alias exercitationem quam excepturi debitis quasi, molestias doloremque facere necessitatibus sequi doloribus id. Asperiores explicabo dolor sequi ea praesentium.</p>
                        </div>
                        <div class="faq-content" id="faq6">
                            <p>6Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorem fugit alias exercitationem quam excepturi debitis quasi, molestias doloremque facere necessitatibus sequi doloribus id. Asperiores explicabo dolor sequi ea praesentium.</p>
                        </div>
                        <div class="faq-content" id="faq7">
                            <p>7Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorem fugit alias exercitationem quam excepturi debitis quasi, molestias doloremque facere necessitatibus sequi doloribus id. Asperiores explicabo dolor sequi ea praesentium.</p>
                        </div>
                        <div class="faq-content" id="faq8">
                            <p>8Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorem fugit alias exercitationem quam excepturi debitis quasi, molestias doloremque facere necessitatibus sequi doloribus id. Asperiores explicabo dolor sequi ea praesentium.</p>
                        </div>
                        <div class="faq-content" id="faq9">
                            <p>9Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorem fugit alias exercitationem quam excepturi debitis quasi, molestias doloremque facere necessitatibus sequi doloribus id. Asperiores explicabo dolor sequi ea praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-mobile">
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                    <div class="accordion-trigger last">
                        <strong>Проблемы в регистрации карты</strong>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>  Основные проблемы при регистрации карточки:</p>
                        <ol>
                            <li>По карточке не разрешено проведение операций в сети Интернет. </li>
                            <li> Ошибка при вводе данных карты.</li>
                            <li>Недостаточно средств на карте (хватает только 1 гривны для регистрации).</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
</div>