<div class="container">
    <div class="form__steps">
        <ul>
            <li><span>1</span><b>Оформите заявку на товар в кредит</b></li>
            <li><span>2</span><b>Вам позвонит
                    представитель Компании</b></li>
            <li><span>3</span><b>Подпишите договор
                    кодом с SMS</b></li>
            <li><span>4</span><b>Получите Ваш
                    заказ</b></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="news__sidebar">
                <a  data-fancybox="" data-src="#modal" href="javascript:;" >popup</a>
                <div class="news__sidebar-info">
                    <div class="row">
                        <div class="col-4">
                                <strong> 3 438 грн.</strong>
                                Ежемесячно
                        </div>
                        <div class="col-4">
                            <strong>03.10.2019</strong>
                            Первый платеж
                            </div>
                            <div class="col-4">
                            <strong>12</strong>
                                Платежей
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form">
                <div class="form__section">
                    <div class="title">Исполнитель заявки</div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="ФИО сотрудника" class="reg__form-input">
                        <label class="reg__form-label">ФИО сотрудника</label>
                    </div>
                    <label class="reg__form-label">Мобильный телефон сотрудника магазина</label>
                    <div class="reg__form-item">
                        <input type="text" placeholder="+38 (___) ___-__-__" class="reg__form-input">
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="email" placeholder="E-mail магазина" class="reg__form-input">
                        <label class="reg__form-label">E-mail магазина</label>
                    </div>
                    <div class="reg__form-item-attention">
                            Введите e-mail на который будет отправлены решение
по заявке и Гарантийное письмо.
                    </div>
                    <label class="reg__form-label">Выберите вариант из списка</label>
                    <div class="reg__form-item">
                        <select class="reg__form-select">
                            <option>Расчетные реквизиты (ФОП/ТОВ) </option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="form__section">
                    <div class="title">Данные клиента</div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Фамилия" class="reg__form-input">
                        <label class="reg__form-label">Фамилия</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Имя" class="reg__form-input">
                        <label class="reg__form-label">Имя</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Отчество" class="reg__form-input">
                        <label class="reg__form-label">Отчество</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Идентификационный код" class="reg__form-input">
                        <label class="reg__form-label">Идентификационный код</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Наименование товара" class="reg__form-input">
                        <label class="reg__form-label">Наименование товара</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Стоимость товара (Итог. счет)" class="reg__form-input">
                        <label class="reg__form-label">Стоимость товара (Итог. счет)</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Первый взнос (необязательное поле)" class="reg__form-input">
                        <label class="reg__form-label">Первый взнос (необязательное поле)</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Срок кредита" class="reg__form-input">
                        <label class="reg__form-label">Срок кредита</label>
                    </div>
                </div>
                <div class="form__section">
                    <div class="form__title">
                        Дополнительная информация
                        <small>(необязательные поля)</small>
                    </div>
                    <label class="reg__form-label">Дата выдачи</label>
                    <div class="reg__form-item">
                        <input type="date" placeholder="Дата выдачи" class="reg__form-input reg__form-input-date">
                    </div>
                    <label class="reg__form-label">Семейное положение (необязательное поле)</label>
                    <div class="reg__form-item">
                        <select class="reg__form-select">
                            <option>В браке </option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <label class="reg__form-label">Кол-во детей</label>
                    <div class="reg__form-item">
                        <select class="reg__form-select">
                            <option> </option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <label class="reg__form-label">Образование</label>
                    <div class="reg__form-item">
                        <select class="reg__form-select">
                            <option> </option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <label class="reg__form-label">Тип паспорта</label>
                    <div class="reg__form-radio">
                        <label class="reg__form-radio-item">
                            <input type="radio" name="a">
                            <span>Id-карта</span>
                        </label>
                        <label class="reg__form-radio-item">
                            <input type="radio" name="a">
                            <span>Стандартный паспорт</span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-4">
                            <div class="reg__form-item reg__form-item-flex">
                                <input type="text" placeholder="Серия" class="reg__form-input" >
                                <label class="reg__form-label">Серия</label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-8">
                            <div class="reg__form-item reg__form-item-flex">
                                <input type="text" placeholder="Номер паспорта" class="reg__form-input" >
                                <label class="reg__form-label">Номер паспорта</label>
                            </div>
                        </div>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Кем выдан" class="reg__form-input" >
                        <label class="reg__form-label">Кем выдан</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="date" placeholder="Дата выдачи" class="reg__form-input reg__form-input-date" >
                        <label class="reg__form-label">Дата выдачи</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Адрес прописки" class="reg__form-input" >
                        <label class="reg__form-label">Адрес прописки</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Адрес проживания" class="reg__form-input" >
                        <label class="reg__form-label">Адрес проживания</label>
                    </div>
                    <label class="reg__form-label">Занятость</label>
                    <div class="reg__form-item">
                        <select class="reg__form-select">
                            <option> </option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Работодатель" class="reg__form-input" >
                        <label class="reg__form-label">Работодатель</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Должность / профессия" class="reg__form-input" >
                        <label class="reg__form-label">Должность / профессия</label>
                    </div>
                    <label class="reg__form-label">Срок работы на текущем месте</label>
                    <div class="reg__form-item">
                        <select class="reg__form-select">
                            <option> </option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Ежемесячный доход" class="reg__form-input" >
                        <label class="reg__form-label">Ежемесячный доход</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Телефон работодателя" class="reg__form-input" >
                        <label class="reg__form-label">Телефон работодателя</label>
                    </div>
                    <label class="reg__form-label">Тип дополнительного контакта</label>
                    <div class="reg__form-item">
                        <select class="reg__form-select">
                            <option> </option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                     <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="ФИО дополнительного контакта" class="reg__form-input" >
                        <label class="reg__form-label">ФИО дополнительного контакта</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="Телефон дополнительного контакта" class="reg__form-input" >
                        <label class="reg__form-label">Телефон дополнительного контакта</label>
                    </div>
                    <div class="reg__form-item reg__form-item-flex">
                        <textarea  placeholder="Комментарий" class="reg__form-input" ></textarea>
                        <label class="reg__form-label">Комментарий</label>
                    </div>
                    <div class="lk__doc-add">
                        <div class="lk__doc-title">Добавить файл</div>
                        <div class="lk__doc-upload">
                            <a href="#" class="visible-mobile"><i class="fas fa-camera"></i>С камеры</a>
                            <a href="#"><i class="fas fa-link"></i>Загрузить</a>
                            <small>(с камеры / с диска)</small>
                        </div>
                    </div>
                    <div class="reg__form-checkbox">
                        <label class="reg__form-checkbox-item">
                            <input type="checkbox" name="b">
                            <span>Направить пакет документов для подписания
                                    клиентом в магазин</span>
                        </label>
                    </div>
                    <div class="reg__form-submit"><input type="submit" value="Отправить" class="button"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div id="modal" class="modal modal-acc">
    <div class="modal__title">Часто задаваемые вопросы</div>
    <div class="accordion-trigger">
        <strong>Как погасить?</strong>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        Способы для погашения кредита, оплаты процентов и штрафов:
        <ol>
            <li> В личном кабинете с помощью добавленной банковской карты. Добавить новую карту для оплаты можно в разделе "Личная информация" в личном кабинете. Это простой и доступный способ оплаты без комиссии и с моментальным погашением займа. </li>
            <li>В терминале ПриватБанка в разделе "Коммунальные платежи" или Приват24 (раздел "Мои платежи"). Введите код SlonCredit 42350798 и укажите плательщика в строке "Назначение платежа".</li>
            <li> Банковский перевод за реквизитами, указанными в кредитном договоре:</li>
        </ol>
        <p>      
                ООО "СЛОН КРЕДИТ" <br>
                ЕГРПОУ 42350798 <br>
                Счёт №26509052600822 у АО КБ "ПРИВАТБАНК" (МФО 320649) <br>
                Назначение платежа "Платеж по кредиту №ХХХХ, клиент Фамилия Имя Отчество, ИНН ХХХХХХХХХХ" <br>
                 
                
                ВНИМАНИЕ! Платеж через кассу банка идет до 3-х банковских дней. За это время начисляется комиссия, а при просрочке платежа - штраф. Дата платежа по кредиту - дата зачисления денег на счёт компании.</p>
    </div>
    <div class="accordion-trigger">
        <strong>Документы, которые нужны для получения денег</strong>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        Способы для погашения кредита, оплаты процентов и штрафов:
        <ol>
            <li> В личном кабинете с помощью добавленной банковской карты. Добавить новую карту для оплаты можно в разделе "Личная информация" в личном кабинете. Это простой и доступный способ оплаты без комиссии и с моментальным погашением займа. </li>
            <li>В терминале ПриватБанка в разделе "Коммунальные платежи" или Приват24 (раздел "Мои платежи"). Введите код SlonCredit 42350798 и укажите плательщика в строке "Назначение платежа".</li>
            <li> Банковский перевод за реквизитами, указанными в кредитном договоре:</li>
        </ol>
        <p>      
                ООО "СЛОН КРЕДИТ" <br>
                ЕГРПОУ 42350798 <br>
                Счёт №26509052600822 у АО КБ "ПРИВАТБАНК" (МФО 320649) <br>
                Назначение платежа "Платеж по кредиту №ХХХХ, клиент Фамилия Имя Отчество, ИНН ХХХХХХХХХХ" <br>
                 
                
                ВНИМАНИЕ! Платеж через кассу банка идет до 3-х банковских дней. За это время начисляется комиссия, а при просрочке платежа - штраф. Дата платежа по кредиту - дата зачисления денег на счёт компании.</p>
    </div>
    <div class="accordion-trigger">
        <strong>Как получить?</strong>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        Способы для погашения кредита, оплаты процентов и штрафов:
        <ol>
            <li> В личном кабинете с помощью добавленной банковской карты. Добавить новую карту для оплаты можно в разделе "Личная информация" в личном кабинете. Это простой и доступный способ оплаты без комиссии и с моментальным погашением займа. </li>
            <li>В терминале ПриватБанка в разделе "Коммунальные платежи" или Приват24 (раздел "Мои платежи"). Введите код SlonCredit 42350798 и укажите плательщика в строке "Назначение платежа".</li>
            <li> Банковский перевод за реквизитами, указанными в кредитном договоре:</li>
        </ol>
        <p>      
                ООО "СЛОН КРЕДИТ" <br>
                ЕГРПОУ 42350798 <br>
                Счёт №26509052600822 у АО КБ "ПРИВАТБАНК" (МФО 320649) <br>
                Назначение платежа "Платеж по кредиту №ХХХХ, клиент Фамилия Имя Отчество, ИНН ХХХХХХХХХХ" <br>
                 
                
                ВНИМАНИЕ! Платеж через кассу банка идет до 3-х банковских дней. За это время начисляется комиссия, а при просрочке платежа - штраф. Дата платежа по кредиту - дата зачисления денег на счёт компании.</p>
    </div>
    <div class="accordion-trigger">
        <strong>Сколько по времени рассматривается заявка?</strong>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        Способы для погашения кредита, оплаты процентов и штрафов:
        <ol>
            <li> В личном кабинете с помощью добавленной банковской карты. Добавить новую карту для оплаты можно в разделе "Личная информация" в личном кабинете. Это простой и доступный способ оплаты без комиссии и с моментальным погашением займа. </li>
            <li>В терминале ПриватБанка в разделе "Коммунальные платежи" или Приват24 (раздел "Мои платежи"). Введите код SlonCredit 42350798 и укажите плательщика в строке "Назначение платежа".</li>
            <li> Банковский перевод за реквизитами, указанными в кредитном договоре:</li>
        </ol>
        <p>      
                ООО "СЛОН КРЕДИТ" <br>
                ЕГРПОУ 42350798 <br>
                Счёт №26509052600822 у АО КБ "ПРИВАТБАНК" (МФО 320649) <br>
                Назначение платежа "Платеж по кредиту №ХХХХ, клиент Фамилия Имя Отчество, ИНН ХХХХХХХХХХ" <br>
                 
                
                ВНИМАНИЕ! Платеж через кассу банка идет до 3-х банковских дней. За это время начисляется комиссия, а при просрочке платежа - штраф. Дата платежа по кредиту - дата зачисления денег на счёт компании.</p>
    </div>
    <div class="accordion-trigger">
        <strong>График работы</strong>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        Способы для погашения кредита, оплаты процентов и штрафов:
        <ol>
            <li> В личном кабинете с помощью добавленной банковской карты. Добавить новую карту для оплаты можно в разделе "Личная информация" в личном кабинете. Это простой и доступный способ оплаты без комиссии и с моментальным погашением займа. </li>
            <li>В терминале ПриватБанка в разделе "Коммунальные платежи" или Приват24 (раздел "Мои платежи"). Введите код SlonCredit 42350798 и укажите плательщика в строке "Назначение платежа".</li>
            <li> Банковский перевод за реквизитами, указанными в кредитном договоре:</li>
        </ol>
        <p>      
                ООО "СЛОН КРЕДИТ" <br>
                ЕГРПОУ 42350798 <br>
                Счёт №26509052600822 у АО КБ "ПРИВАТБАНК" (МФО 320649) <br>
                Назначение платежа "Платеж по кредиту №ХХХХ, клиент Фамилия Имя Отчество, ИНН ХХХХХХХХХХ" <br>
                 
                
                ВНИМАНИЕ! Платеж через кассу банка идет до 3-х банковских дней. За это время начисляется комиссия, а при просрочке платежа - штраф. Дата платежа по кредиту - дата зачисления денег на счёт компании.</p>
    </div>
    <div class="accordion-trigger">
        <strong>Что нужно для получения кредита онлайн?</strong>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        Способы для погашения кредита, оплаты процентов и штрафов:
        <ol>
            <li> В личном кабинете с помощью добавленной банковской карты. Добавить новую карту для оплаты можно в разделе "Личная информация" в личном кабинете. Это простой и доступный способ оплаты без комиссии и с моментальным погашением займа. </li>
            <li>В терминале ПриватБанка в разделе "Коммунальные платежи" или Приват24 (раздел "Мои платежи"). Введите код SlonCredit 42350798 и укажите плательщика в строке "Назначение платежа".</li>
            <li> Банковский перевод за реквизитами, указанными в кредитном договоре:</li>
        </ol>
        <p>      
                ООО "СЛОН КРЕДИТ" <br>
                ЕГРПОУ 42350798 <br>
                Счёт №26509052600822 у АО КБ "ПРИВАТБАНК" (МФО 320649) <br>
                Назначение платежа "Платеж по кредиту №ХХХХ, клиент Фамилия Имя Отчество, ИНН ХХХХХХХХХХ" <br>
                 
                
                ВНИМАНИЕ! Платеж через кассу банка идет до 3-х банковских дней. За это время начисляется комиссия, а при просрочке платежа - штраф. Дата платежа по кредиту - дата зачисления денег на счёт компании.</p>
    </div>
     <div class="accordion-trigger">
        <strong>Кто может оформить?</strong>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        Способы для погашения кредита, оплаты процентов и штрафов:
        <ol>
            <li> В личном кабинете с помощью добавленной банковской карты. Добавить новую карту для оплаты можно в разделе "Личная информация" в личном кабинете. Это простой и доступный способ оплаты без комиссии и с моментальным погашением займа. </li>
            <li>В терминале ПриватБанка в разделе "Коммунальные платежи" или Приват24 (раздел "Мои платежи"). Введите код SlonCredit 42350798 и укажите плательщика в строке "Назначение платежа".</li>
            <li> Банковский перевод за реквизитами, указанными в кредитном договоре:</li>
        </ol>
        <p>      
                ООО "СЛОН КРЕДИТ" <br>
                ЕГРПОУ 42350798 <br>
                Счёт №26509052600822 у АО КБ "ПРИВАТБАНК" (МФО 320649) <br>
                Назначение платежа "Платеж по кредиту №ХХХХ, клиент Фамилия Имя Отчество, ИНН ХХХХХХХХХХ" <br>
                 
                
                ВНИМАНИЕ! Платеж через кассу банка идет до 3-х банковских дней. За это время начисляется комиссия, а при просрочке платежа - штраф. Дата платежа по кредиту - дата зачисления денег на счёт компании.</p>
    </div>
     <div class="accordion-trigger last">
        <strong>Зачем нужна регистрация и какие возможности предоставляет
                Личный кабинет?</strong>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="accordion-content">
        Способы для погашения кредита, оплаты процентов и штрафов:
        <ol>
            <li> В личном кабинете с помощью добавленной банковской карты. Добавить новую карту для оплаты можно в разделе "Личная информация" в личном кабинете. Это простой и доступный способ оплаты без комиссии и с моментальным погашением займа. </li>
            <li>В терминале ПриватБанка в разделе "Коммунальные платежи" или Приват24 (раздел "Мои платежи"). Введите код SlonCredit 42350798 и укажите плательщика в строке "Назначение платежа".</li>
            <li> Банковский перевод за реквизитами, указанными в кредитном договоре:</li>
        </ol>
        <p>      
                ООО "СЛОН КРЕДИТ" <br>
                ЕГРПОУ 42350798 <br>
                Счёт №26509052600822 у АО КБ "ПРИВАТБАНК" (МФО 320649) <br>
                Назначение платежа "Платеж по кредиту №ХХХХ, клиент Фамилия Имя Отчество, ИНН ХХХХХХХХХХ" <br>
                 
                
                ВНИМАНИЕ! Платеж через кассу банка идет до 3-х банковских дней. За это время начисляется комиссия, а при просрочке платежа - штраф. Дата платежа по кредиту - дата зачисления денег на счёт компании.</p>
    </div>
</div>
<!-- /modal -->