<div class="container">
    <div class="form__steps">
        <ul>
            <li><span>1</span><b>Оформите заявку на товар в кредит</b></li>
            <li><span>2</span><b>Вам позвонит
                    представитель Компании</b></li>
            <li><span>3</span><b>Подпишите договор
                    кодом с SMS</b></li>
            <li><span>4</span><b>Получите Ваш
                    заказ</b></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-6">
            
        </div>
        <div class="col-lg-6">
            <div class="form">
                <div class="title">Исполнитель заявки</div>
                <div class="form__section">
                    <div class="reg__form-item reg__form-item-flex">
                        <input type="text" placeholder="ФИО сотрудника" class="reg__form-input">
                        <label class="reg__form-label">ФИО сотрудника</label>
                    </div>
                    <label class="reg__form-label">Мобильный телефон сотрудника магазина</label>
                    <div class="reg__form-item">
                        <input type="text" placeholder="+38 (___) ___-__-__" class="reg__form-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>