<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="initial-scale=1"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- build:css styles/plagins.css -->
    <link rel="stylesheet" href="styles/bootstrap-grid.css">
    <link rel="stylesheet" href="styles/fancybox.css">
    <link rel="stylesheet" href="styles/formstyler.css">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/slick.css">
        <!-- add you plagin css here -->

    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/dev_0_basic.css">
    <link rel="stylesheet" href="styles/dev_1.css">
    <link rel="stylesheet" href="styles/dev_1_adapt.css">
        <!-- add you develop css here -->

    <!-- endbuild -->

</head>
<body>