<!-- HEADER -->
<header class="header">
  <div class="container">
    <div class="header__section">
      <div class="logo"><a href="/"><img src="img/logo.png" alt=""></a></div>
      <nav class="header__menu">
        <ul>
          <li><a href="#">Как получить</a></li>
          <li><a href="#">Как погасить</a></li>
          <li><a href="#">Вопросы и ответы</a></li>
          <li><a href="#">О нас</a></li>
        </ul>
      </nav>
      <div class="header__phone">
        <a href="tel:080 033 03 83">080 033 03 83</a>
        Бесплатно по Украине
        <i class="fas fa-phone "></i>
      </div>
      <div class="header__lang">
        <a href="#">UA</a>
      </div>
      <div class="header__login">
        <a href="#" class="button">Войти</a>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

