<!-- HEADER -->
<header class="header">
  <div class="container">
    <div class="header__section">
      <div class="logo"><a href="/"><img src="img/logo.png" alt=""></a></div>
      <nav class="header__menu">
        <ul>
          <li><a href="#">Как получить</a></li>
          <li><a href="#">Как погасить</a></li>
          <li><a href="#">Вопросы и ответы</a></li>
          <li><a href="#">О нас</a></li>
        </ul>
      </nav>
      <div class="header__phone">
        <a href="tel:080 033 03 83">080 033 03 83</a>
        Бесплатно по Украине
        <i class="fas fa-phone "></i>
      </div>
      <div class="header__lang">
        <span>UA</span>
      </div>
      <div class="header__login">
        <a href="#" class="button">Войти</a>
        <div class="header__trigger">
          <i></i>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="mobile-menu">
  <div class="mobile-menu__top">
    <div class="mobile-menu__line">
      <button class="mobile-menu__close"></button>
    </div>
    <div class="mobile-menu__line">
      <ul>
        <li><a href="#">Кредит</a></li>
        <li><a href="#">История</a></li>
        <li><a href="#">Документы</a></li>
        <li><a href="#">Банковские карты</a></li>
        <li><a href="#">Персональные данные</a></li>
        <li><a href="#">Как взять</a></li>
        <li><a href="#">Как погасить</a></li>
        <li><a href="#">Вопросы и ответы</a></li>
        <li><a href="#">Блог</a></li>
      </ul>
      <div class="mobile-menu__link">
        <a href="#">Выйти</a>
      </div>
    </div>
  </div>
  <div class="mobile-menu__bottom">
    <div class="mobile-menu__text">
      <p><strong>Служба поддержки</strong>
          <a href="tel:0 800 33 03 83">0 800 33 03 83</a></p>
      <p>
          Пн-пт: 9:00 - 20:00 <br>
          Сб-вс: 10:00 - 18:00
      </p>
    </div>
    <nav class="mobile-menu__lang">
      <span class="active">RU    </span>
      <a href="#">UA</a>
    </nav>
  </div>
</div>
<div class="mobile-menu__overlay"></div>
<!-- /HEADER -->

