<!-- nav -->
<nav class="lk-nav">
    <div class="container">
        <ul>
            <li><a href="#" class="active">Кредит</a></li>
            <li><a href="#">История</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Банковские карты</a></li>
            <li><a href="#">Персональные данные</a></li>
        </ul>
    </div>
</nav>
<!-- /nav -->
<div class="lk">
    <div class="container">
        <!-- top -->
        <div class="lk__top">
            <div class="row">
                <div class="col-lg-5">
                    <div class="lk__box">
                        <div class="lk__timing">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <div class="lk__timing-circle-wrap">
                                        <div class="lk__timing-circle">
                                            <h6>22</h6>
                                            <small>дня до следующего <br>
                                                платежа</small>
                                            <span>(17.10.2019)</span>
                                        </div>
                                        <div class="circle-chart circle-chart--with-track">
                                            25%
                                        </div>
                                        <div class="radial-graph">
                                            <div class="shape">
                                                <div class="mask full-mask">
                                                    <div class="fill"></div>
                                                </div>
                                                <div class="mask">
                                                    <div class="fill"></div>
                                                    <div class="fill shim"></div>
                                                </div>
                                            </div>
                                            <div class="cutout">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="lk__timing-title">Кредит № 1234578</div>
                                    <ul>
                                        <li class="active">Активен</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="lk__box">
                        <div class="lk__title text-center">ПОГАШЕНИЕ КРЕДИТА  </div>
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="lk__top-price">
                                    <div class="lk__timing-title">1 976 грн.  </div>
                                    <p>Сумма минимального
                                        платежа</p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="lk__top-button">
                                    <a href="#" class="button">Оплатить регулярный платеж</a>
                                </div>
                            </div>
                        </div>
                        <div class="lk__top-no-card">
                                У вас нет добавленой карты
                        </div>
                        <div class="lk__top-add">
                            <button><i class="fas fa-plus-circle"></i>Добавить карту</button>
                        </div>
                        <div class="lk__top-sum">
                            <a href="#" class="lk__top-sum-link"><span>Внести другую сумму</span> <i class="fas fa-chevron-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top -->
        <!-- table -->
        <div class="lk__box">
            <div class="lk__title">График платежей</div>
            <div class="lk__table">
                <table>
                    <thead>
                            <tr>
                                <th>Дата платежа</th>
                                <th>Сумма минимального платежа</th>
                                <th class="text-right">Статус</th>
                            </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span class="green">Погашен</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span class="green">Погашен</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span class="red">Просрочен</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span class="green">Погашен</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span class="blue">К оплате</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    <tr>
                        <td>17.10.2019</td>
                        <td>1 978 грн.</td>
                        <td class="text-right"><span>Ожидается</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /table -->
    </div>
</div>