<!-- nav -->
<nav class="lk-nav">
    <div class="container">
        <ul>
            <li><a href="#" class="active">Кредит</a></li>
            <li><a href="#">История</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Банковские карты</a></li>
            <li><a href="#">Персональные данные</a></li>
        </ul>
    </div>
</nav>
<!-- /nav -->
<div class="lk">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="lk__box lk__attention">
                        <i class="fas fa-check-circle"></i><strong>Загрузка документа прошла успешно</strong> 
                </div>
                <div class="lk__box">
                    <div class="lk__title">Личные Документы</div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="lk__doc-add">
                                <div class="lk__doc-load">
                                    <div class="lk__doc-load-item"><span style="width: 78%;"></span></div>
                                    <strong>78%</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="lk__doc-box">
                                <div class="lk__doc-close"><i class="fas fa-times"></i></div>
                                <div class="lk__doc-section">
                                    <figure>
                                        <img src="img/doc.png" alt="">
                                    </figure>
                                    <section>
                                        <div class="lk__doc-caption">Паспорт
                                                споживчого
                                                кредиту</div>
                                        <div class="lk__doc-date">18.09.2019</div>
                                    </section>
                                </div>
                                <div class="lk__doc-download">
                                    <a href="#">Скачать<i class="fas fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="lk__doc-box">
                                <div class="lk__doc-close"><i class="fas fa-times"></i></div>
                                <div class="lk__doc-section">
                                    <figure>
                                        <img src="img/jpg.png" alt="">
                                    </figure>
                                    <section>
                                        <div class="lk__doc-caption">Кредитний
                                                договір</div>
                                        <div class="lk__doc-date">18.09.2019</div>
                                    </section>
                                </div>
                                <div class="lk__doc-download">
                                    <a href="#">Скачать<i class="fas fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lk__title">Кредитные Документы</div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="lk__doc-add">
                                <div class="lk__doc-title">Новый документ</div>
                                <div class="lk__doc-upload">
                                    <a href="#" class="visible-mobile"><i class="fas fa-camera"></i>С камеры</a>
                                    <a href="#"><i class="fas fa-link"></i>Загрузить</a>
                                    <small>(с камеры / с диска)</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="lk__doc-box">
                                <div class="lk__doc-close"><i class="fas fa-times"></i></div>
                                <div class="lk__doc-section">
                                    <figure>
                                        <img src="img/pdf.png" alt="">
                                        
                                    </figure>
                                    <section>
                                        <div class="lk__doc-caption">Графік платежів</div>
                                        <div class="lk__doc-date">18.09.2019</div>
                                    </section>
                                </div>
                                <div class="lk__doc-download">
                                    <a href="#">Скачать<i class="fas fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lk__box">
                    <div class="lk__title">Банковские карты</div>
                     <div class="lk__table visible-desktop">
                        <table>
                            <thead>
                                    <tr>
                                        <th>Название банка</th>
                                        <th>Номер карты</th>
                                        <th>Добавлено</th>
                                    </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>monobank</td>
                                    <td>5375 ХХХХ ХХХХ 0123</td>
                                    <td>18.09.2019 16:13 <a href="#" class="lk__table-close"><i class="fas fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>ПриватБанк</td>
                                    <td>5375 ХХХХ ХХХХ 0123</td>
                                    <td>18.09.2019 16:13 <a href="#" class="lk__table-close"><i class="fas fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>УкрГазБанк</td>
                                    <td>5375 ХХХХ ХХХХ 0123</td>
                                    <td>18.09.2019 16:13 <a href="#" class="lk__table-close"><i class="fas fa-times"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <div class="lk__top-add text-left">
                                            <a data-fancybox="" data-src="#add-card" href="javascript:;" ><i class="fas fa-plus-circle"></i>Добавить карту</a>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="lk__table-mobile visible-mobile">
                        <div class="lk__table-mobile-item">
                            <p>
                                <strong>Название банка</strong>
                                ПриватБанк
                            </p>
                            <p>
                                <strong>Номер карты</strong>
                                5168 ХХХХ ХХХХ ХХ77
                            </p>
                            <p>
                                <strong>Добавлено</strong>
                                14.06.2019 / 14:50
                            </p>
                            <p>
                                <a href="#" class="lk__table-mobile-delete" ><i class="fas fa-times"></i><span>удалить карту</span></a>
                            </p>
                        </div>
                        <div class="lk__table-mobile-item">
                            <p>
                                <strong>Название банка</strong>
                                ПриватБанк
                            </p>
                            <p>
                                <strong>Номер карты</strong>
                                5168 ХХХХ ХХХХ ХХ77
                            </p>
                            <p>
                                <strong>Добавлено</strong>
                                14.06.2019 / 14:50
                            </p>
                            <p>
                                <a href="#" class="lk__table-mobile-delete" ><i class="fas fa-times"></i><span>удалить карту</span></a>
                            </p>
                        </div>
                        <div class="lk__top-add text-left">
                            <a data-fancybox="" data-src="#add-card" href="javascript:;" ><i class="fas fa-plus-circle"></i>Добавить карту</a>
                        </div>
                    </div>
                </div>
                <div class="lk__box lk__attention">
                        <i class="fas fa-check-circle"></i><strong>Карта успешно добавлена</strong> 
                </div>
            </div>
        </div>
    </div> 
</div>

<!-- modal -->
<div id="add-card" class="modal">
    <div class="modal__title">Добавление банковской карты</div>
    <article class="modal__text">
            <p>Пожалуйста, добавьте карту, Карта должна <br> соответствовать следующим требованиям:</p>

            <ul>
                <li>  Это должна быть ваша карта</li>
                <li>  Карта должна быть активна и непросрочена.</li>
                <li> По карте должны быть разрешены операции в сети 
                           Интернет</li>
            </ul>
    </article>
    <div class="modal__add-card">
        <div class="modal__add-card-inputs">
            <label>Номер банковской карты</label>
            <div class="row">
                <div class="col-3"><input type="text" placeholder="XXXX"></div>
                <div class="col-3"><input type="text" placeholder="XXXX"></div>
                <div class="col-3"><input type="text" placeholder="XXXX"></div>
                <div class="col-3"><input type="text" placeholder="XXXX"></div>
            </div>
        </div>
        <div class="modal__add-card-attention">
            <span>Карта не верифицирована. <br>
                    Попробуйте еще раз</span>
        </div>
        <div class="modal__add-card-buttons">
            <button class="button">Добавить</button>
            <button data-fancybox-close class="button empty">Отменить</button>
        </div>
    </div>
</div>
<!-- /modal -->