<!-- nav -->
<nav class="lk-nav">
    <div class="container">
        <ul>
            <li><a href="#" class="active">Кредит</a></li>
            <li><a href="#">История</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Банковские карты</a></li>
            <li><a href="#">Персональные данные</a></li>
        </ul>
    </div>
</nav>
<!-- /nav -->
<div class="lk">
    <div class="container">
        <div class="lk__box">
            <div class="lk__title">История кредитов</div>
            <div class="lk__table visible-desktop">
                <table>
                    <thead>
                            <tr>
                                <th>Номер договора</th>
                                <th>Дата выдачи</th>
                                <th>Дата выплаты</th>
                                <th>Запрашиваемая сумма</th>
                                <th>Статус</th>
                                <th class="text-right">Справка о закрытии</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>99 999 999</td>
                            <td>10.08.2018</td>
                            <td>10.08.2018</td>
                            <td>12 000 грн.</td>
                            <td><span class="green">&bull;	Активный</span></td>
                            <td class="text-right"><span class="gray">(кредит еще активен)</span></td>
                        </tr>
                        <tr>
                            <td>99 999 999</td>
                            <td>10.08.2018</td>
                            <td>10.08.2018</td>
                            <td>12 000 грн.</td>
                            <td>&bull;	Закрыт</td>
                            <td class="text-right"><a href="#" class="lk__table-download">Скачать</a></td>
                        </tr>
                        <tr>
                            <td>99 999 999</td>
                            <td>10.08.2018</td>
                            <td>10.08.2018</td>
                            <td>12 000 грн.</td>
                            <td><span class="red">&bull;	Просрочен</span></td>
                            <td class="text-right"><span class="gray">(кредит просрочен)</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="visible-mobile ">
                <div class="lk__table-accordion">
                    <div class="lk__table-accordion-trigger">
                        <strong>Дата выдачи</strong>
                        <span>17.10.2019 <i class="fas fa-chevron-down"></i></span>
                    </div>
                    <div class="lk__table-accordion-content">
                        <div class="row">
                            <div class="col-8"><strong>Статус</strong></div>
                            <div class="col-4"><span class="green">Активный</span></div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Дата выплаты</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Запрашиваемая сумма</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Номер договора</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Справка о закрытии</strong></div>
                            <div class="col-4">-</div>
                        </div>
                    </div>
                    <div class="lk__table-accordion-trigger">
                        <strong>Дата выдачи</strong>
                        <span>17.10.2019 <i class="fas fa-chevron-down"></i></span>
                    </div>
                    <div class="lk__table-accordion-content">
                        <div class="row">
                            <div class="col-8"><strong>Статус</strong></div>
                            <div class="col-4"><span class="green">Активный</span></div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Дата выплаты</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Запрашиваемая сумма</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Номер договора</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Справка о закрытии</strong></div>
                            <div class="col-4">-</div>
                        </div>
                    </div>
                    <div class="lk__table-accordion-trigger">
                        <strong>Дата выдачи</strong>
                        <span>17.10.2019 <i class="fas fa-chevron-down"></i></span>
                    </div>
                    <div class="lk__table-accordion-content">
                        <div class="row">
                            <div class="col-8"><strong>Статус</strong></div>
                            <div class="col-4"><span class="green">Активный</span></div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Дата выплаты</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Запрашиваемая сумма</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Номер договора</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Справка о закрытии</strong></div>
                            <div class="col-4">-</div>
                        </div>
                    </div>
                    <div class="lk__table-accordion-trigger">
                        <strong>Дата выдачи</strong>
                        <span>17.10.2019 <i class="fas fa-chevron-down"></i></span>
                    </div>
                    <div class="lk__table-accordion-content">
                        <div class="row">
                            <div class="col-8"><strong>Статус</strong></div>
                            <div class="col-4"><span class="green">Активный</span></div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Дата выплаты</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Запрашиваемая сумма</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Номер договора</strong></div>
                            <div class="col-4">1 978 грн.</div>
                        </div>
                        <div class="row">
                            <div class="col-8"><strong>Справка о закрытии</strong></div>
                            <div class="col-4">-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>