<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- content -->
            <nav class="news__bread">
                <a href="#">Новости</a>
                <i class="fas fa-chevron-right"></i>
                <b>Заголовок статьи</b>
            </nav>
            <div class="news__article">
                <figure><img src="img/news2.jpg" alt=""></figure>
                <article class="news__article-text">
                    <div class="row">
                        <div class="col-lg-6 order-lg-1"><div class="news__date">25.09.2019</div></div>
                        <div class="col-lg-6">
                            <h1>Текст заголовка статьи
                                    вторая строка</h1>
                        </div>
                    </div>
                    <section class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur</p>
                    </section>
                </article>
            </div>
            <div class="news__nav">
                <a href="#"><img src="img/prev.png" alt="">К предыдущей статье</a>
                <a href="#">К следующей статье<img src="img/next.png" alt=""> </a>
            </div>
            <!-- /content -->
        </div>
        <div class="col-lg-4">
            <!-- sidebar -->
            <div class="news__sidebar">
                <div class="news__sidebar-info">
                    <div class="row">
                        <div class="col-4">
                               <strong> 3 438 грн.</strong>
                                Ежемесячно
                        </div>
                        <div class="col-4">
                            <strong>03.10.2019</strong>
                            Первый платеж
                         </div>
                         <div class="col-4">
                            <strong>12</strong>
                             Платежей
                         </div>
                    </div>
                </div>
                <div class="news__sidebar-button">
                    <a href="#" class="button">Продолжить</a>
                </div>
                <nav class="news__sidebar-nav">
                    <a href="#"><i class="far fa-file-alt"></i><span>Паспорт кредита</span></a>
                    <a href="#"><i class="far fa-clock"></i><span>График платежей</span></a>
                </nav>
                <div class="news__sidebar-promo">
                    <a href="#">Ввести промокод</a>
                </div>
            </div>
            <!-- /sidebar -->
        </div>
    </div>
</div>