<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- content -->
            <div class="title mobile-title-center">Новости и акции</div>
            <div class="news">
                <div class="news__item">
                    <div class="row ">
                        <div class="col-lg-4">
                            <a href="#" class="news__img"><img src="img/news.png" alt=""></a>
                        </div>
                        <div class="col-lg-8 align-self-center">
                            <article>
                                <div class="news__date">25.09.2019</div>
                                <div class="news__title"><a href="#">Текст заголовка статьи номер 1</a></div>
                                <div class="news__more"><a href="#">Подробнее</a></div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="row ">
                        <div class="col-lg-4">
                            <a href="#" class="news__img"><img src="img/news.png" alt=""></a>
                        </div>
                        <div class="col-lg-8 align-self-center">
                            <article>
                                <div class="news__date">25.09.2019</div>
                                <div class="news__title"><a href="#">Текст заголовка статьи номер 1</a></div>
                                <div class="news__more"><a href="#">Подробнее</a></div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="row ">
                        <div class="col-lg-4">
                            <a href="#" class="news__img"><img src="img/news.png" alt=""></a>
                        </div>
                        <div class="col-lg-8 align-self-center">
                            <article>
                                <div class="news__date">25.09.2019</div>
                                <div class="news__title"><a href="#">Текст заголовка статьи номер 1</a></div>
                                <div class="news__more"><a href="#">Подробнее</a></div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="row ">
                        <div class="col-lg-4">
                            <a href="#" class="news__img"><img src="img/news.png" alt=""></a>
                        </div>
                        <div class="col-lg-8 align-self-center">
                            <article>
                                <div class="news__date">25.09.2019</div>
                                <div class="news__title"><a href="#">Текст заголовка статьи номер 1</a></div>
                                <div class="news__more"><a href="#">Подробнее</a></div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="row ">
                        <div class="col-lg-4">
                            <a href="#" class="news__img"><img src="img/news.png" alt=""></a>
                        </div>
                        <div class="col-lg-8 align-self-center">
                            <article>
                                <div class="news__date">25.09.2019</div>
                                <div class="news__title"><a href="#">Текст заголовка статьи номер 1</a></div>
                                <div class="news__more"><a href="#">Подробнее</a></div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="pager">
                <ul>
                    <li><a href="#" class="pager__arrow"><img src="img/prev.png" alt=""></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#" class="active">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#" class="pager__arrow"><img src="img/next.png" alt=""></a></li>
                </ul>
            </nav>
            <!-- /content -->
        </div>
        <div class="col-lg-4">
            <!-- sidebar -->
            <div class="news__sidebar">
                <div class="news__sidebar-info">
                    <div class="row">
                        <div class="col-4">
                               <strong> 3 438 грн.</strong>
                                Ежемесячно
                        </div>
                        <div class="col-4">
                            <strong>03.10.2019</strong>
                            Первый платеж
                         </div>
                         <div class="col-4">
                            <strong>12</strong>
                             Платежей
                         </div>
                    </div>
                </div>
                <div class="news__sidebar-button">
                    <a href="#" class="button">Продолжить</a>
                </div>
                <nav class="news__sidebar-nav">
                    <a href="#"><i class="far fa-file-alt"></i><span>Паспорт кредита</span></a>
                    <a href="#"><i class="far fa-clock"></i><span>График платежей</span></a>
                </nav>
                <div class="news__sidebar-promo">
                    <a href="#">Ввести промокод</a>
                </div>
            </div>
            <!-- /sidebar -->
        </div>
    </div>
</div>