<nav class="mobile-header__reg">
    <div class="container">
    <ul>
        <li>Вы занимаете <strong>3000 грн</strong></li>
        <li>До <strong>5.01.18</strong></li>
        <li>К погашению <strong>3405 грн</strong></li>
        <li><a href="#"><i class="fas fa-pencil-alt"></i></a></li>
    </ul>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- content -->
            <div class="reg__box">
                <div class="reg__steps">
                    <ul>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="title title-md text-center">Персональные данные</div>
                <div class="reg__form-item reg__form-item-flex">
                    <input type="text" placeholder="Фамилия" class="reg__form-input" >
                    <label class="reg__form-label">Фамилия</label>
                </div>
                <div class="reg__form-item-error">
                    Это обязательное поле. Введите фамилию.
                </div>
                <div class="reg__form-item reg__form-item-flex">
                    <input type="text" placeholder="Имя" class="reg__form-input" >
                    <label class="reg__form-label">Имя</label>
                </div>
                <div class="reg__form-item reg__form-item-flex">
                    <input type="text" placeholder="Отчество" class="reg__form-input" >
                    <label class="reg__form-label">Отчество</label>
                </div>
                <div class="reg__form-item-attention">
                        Введите отчество
                </div>
                <div class="reg__form-item reg__form-item-flex">
                    <input type="date" placeholder="Дата рождения" class="reg__form-input reg__form-input-date" >
                    <label class="reg__form-label">Дата рождения</label>
                </div>
                <div class="reg__form-item reg__form-item-flex">
                    <input type="text" placeholder="E-mail (необязательно)" class="reg__form-input" >
                    <label class="reg__form-label">E-mail</label>
                </div>
                <div class="reg__form-submit"><input type="submit" value="Продолжить" class="button"></div>
            </div>
            <!-- /content -->
        </div>
    </div>
</div>