<nav class="mobile-header__reg">
    <div class="container">
    <ul>
        <li>Вы занимаете <strong>3000 грн</strong></li>
        <li>До <strong>5.01.18</strong></li>
        <li>К погашению <strong>3405 грн</strong></li>
        <li><a href="#"><i class="fas fa-pencil-alt"></i></a></li>
    </ul>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- content -->
            <form class="reg__box">
                <div class="reg__steps">
                    <ul>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li class="green"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="title title-md text-center">Документы и сведения</div>
                <label class="reg__form-label">Тип паспорта</label>
                <div class="reg__form-radio">
                    <label class="reg__form-radio-item">
                        <input type="radio" name="a">
                        <span>Id-карта</span>
                    </label>
                    <label class="reg__form-radio-item">
                        <input type="radio" name="a">
                        <span>Стандартный паспорт</span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <div class="reg__form-item reg__form-item-flex">
                            <input type="text" placeholder="Серия" class="reg__form-input" >
                            <label class="reg__form-label">Серия</label>
                        </div>
                    </div>
                    <div class="col-lg-9 col-8">
                        <div class="reg__form-item reg__form-item-flex">
                            <input type="text" placeholder="Номер паспорта" class="reg__form-input" >
                            <label class="reg__form-label">Номер паспорта</label>
                        </div>
                    </div>
                </div>
                <div class="reg__form-item reg__form-item-flex">
                    <input type="text" placeholder="Кем выдан" class="reg__form-input" >
                    <label class="reg__form-label">Кем выдан</label>
                </div>
                <div class="reg__form-item reg__form-item-flex">
                    <input type="date" placeholder="Дата выдачи" class="reg__form-input reg__form-input-date" >
                    <label class="reg__form-label">Дата выдачи</label>
                </div>
                <div class="reg__form-item reg__form-item-flex">
                    <input type="text" placeholder="Идентификационный код" class="reg__form-input" >
                    <label class="reg__form-label">Идентификационный код</label>
                </div>
                <div class="title title-xs text-center">Дополнительная информация</div>
                <label class="reg__form-label">Семейное положение</label>
                <div class="reg__form-item">
                    <select  class="reg__form-select">
                        <option>Не замужем / не женат</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <label class="reg__form-label">Количество детей</label>
                <div class="reg__form-item">
                    <select  class="reg__form-select">
                        <option>- Выберите вариант -</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <label class="reg__form-label">Образование</label>
                <div class="reg__form-item">
                    <select  class="reg__form-select">
                        <option>- Выберите вариант -</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="reg__form-submit"><input type="submit" value="Продолжить" class="button"></div>
            </form>
            <!-- /content -->
        </div>
    </div>
</div>