
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- content -->
            <div class="reg__box reg__box-hide-mobile">
                <div class="reg__text">
                    <div class="row">
                        <div class="col-lg-3"><img src="img/checkmark.png" alt=""></div>
                        <div class="col-lg-9">
                                <div class="title title-md pb10">Проверка карты</div>

                                <p>Чтобы удостовериться, что карта, на которую мы отправим средства, является активной, платёжный сервис WayForPay попробует списать 1  гривну, после чего вернёт её на Вашу карту.</p>
                        </div>
                    </div>
                </div>
                <div class="reg__card">
                    <img src="img/bank.png" alt="">
                </div>
                <div class="reg__form-submit"><input type="submit" value="Продолжить" class="button"></div>
            </div>
            <div class="reg__box-show-mobile">
                <div class="reg__text">
                    <div class="title title-md text-center pb10">Проверка карты</div>
                    <p>Чтобы удостовериться, что карта, на которую мы отправим средства, является активной, платёжный сервис WayForPay попробует списать 1  гривну, после чего вернёт её на Вашу карту.</p>
                </div>
                <div class="reg__white-box">
                    <label class="reg__form-label">Владелец карты</label>
                    <div class="reg__form-item"><input type="text" placeholder="Имя и фамилия владельца" class="reg__form-input" ></div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <label class="reg__form-label">Номер банковской карты</label>
                            <div class="row no-gutters">
                                <div class="col-3"><div class="reg__form-item"><input type="text" placeholder="XXXX" class="reg__form-input text-center" ></div></div>
                                <div class="col-3"><div class="reg__form-item"><input type="text" placeholder="XXXX"  class="reg__form-input text-center" ></div></div>
                                <div class="col-3"><div class="reg__form-item"><input type="text" placeholder="XXXX"  class="reg__form-input text-center" ></div></div>
                                <div class="col-3"><div class="reg__form-item"><input type="text" placeholder="XXXX"  class="reg__form-input text-center" ></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                                <label class="reg__form-label">CVV</label>
                                <div class="reg__form-item"><input type="text" placeholder="XXX" class="reg__form-input text-center" ></div>
                        </div>
                        <div class="col-8">
                                <label class="reg__form-label">Срок действия карты</label>
                                <div class="reg__form-item"><input type="date" placeholder="XXX" class="reg__form-input reg__form-input-date " ></div>
                        </div>
                    </div>
                    <div class="reg__form-submit"><input type="submit" value="Продолжить" class="button"></div>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
</div>