<!-- SCRIPTS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- build:js scripts/validate_script.js -->
<script type="text/javascript" src="scripts/validate_script.js" ></script>
<!-- endbuild -->

<!-- build:js scripts/plagins.js -->
<script type="text/javascript" src="scripts/plagins/device.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/maskInput.js" ></script>
<script type="text/javascript" src="scripts/plagins/slick.js" ></script>
<script type="text/javascript" src="scripts/plagins/raphael-min.js" ></script>
<script type="text/javascript" src="scripts/plagins/circle-chart.js" ></script>
    <!-- add you plagins js here -->

<!-- endbuild -->

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl9nQmaXkMHN9lZ6WKhSk3ot9gukwM4Ro&callback=initMap">
    </script>

<!-- build:js scripts/main.js -->
<script type="text/javascript" src="scripts/develop/develop_1.js" ></script>
    <!-- add you develop js here -->
<!-- endbuild -->
<script type="text/javascript">
    var daysLang = 'ru';
    var checkMap = false;
    var officess = [ { "lat": 47.0382681, "lng": 28.8042144, "message": "ул. Каля Ешилор 9, Кишинёв, Скулянка" } ];
    var API_HOST = 'https://api.master.md.aventus.work/loan-price';
</script>
<!-- /SCRIPTS -->
